.confirmation_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.selected_reviewers {
  display: flex;
  flex-direction: column;
  width: 57vw;
  gap: .5rem;
} 
