nav {
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
}

.bottom-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 4rem;
  margin-bottom: 2rem;
}

.bottom-div span {
  color: white;
  padding: 0.8rem;
}
