.type_1 {
  background-color: white;
}

.type_2 {
  background-color: white;
}

.single_user_feedback {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0.2rem;
  /* border: 2px solid black; */
  background-color: white;
  margin: 0.5rem;
  padding: 0;
  border: none;
  background: none;
  justify-self: end;
}

.btn:hover {
  background-color: var(--purple-color);
  color: white;
  border: 1.5px solid var(--purple-color);
}

.link {
  text-decoration: none;
  color: grey;
}
.username {
  width: 10rem;
}
