.wrapper h2 {
    margin: 0 0 2rem 0;
    font-weight: bold;
    text-transform: capitalize;
}

.accordionheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordionheader h2 {
  margin-bottom: -2rem;
}

.formwrapper {
  margin-left: 2rem;
}

.wrapper {
    margin-top: 3rem;
    margin-left: 2.5rem;
}

/* Question number */
.numberspan {
  font-weight: 600;
  font-size: 1.3rem;
}

/* Displays the status of feedback */
.finishdiv {
  width: fit-content;
  padding: .6rem;
  margin: 2rem 0 0 1rem;
  color: white;
  font-weight: bold;
}

/* Feedback instructions */
.instructions {
    padding: 2rem;
    margin: 1rem 0 2rem .5rem;
    height: fit-content;
    background-color: var(--light-grey-color);
    width: 95%;
}

/* Question */
.questionlabel {
  font-family: var(--main-font);
  font-size: 1.3rem;
  font-weight: 500;
}

/* Background of the questions */
.questionlabel {
  background-color: var(--light-grey-color);
  width: 100%;
  padding: 1rem;
}

.textarea {
    width: 500px;
    height: 100px;
    padding: .4rem;
    margin: 2rem 0 2rem 1rem;
    font-family: inherit;
    display: block;
    border-radius: .3rem;
  }

/* Radiobuttons */

 .radiodiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
} 

.radiodiv label {
    padding: 1rem;
    display: inline-block;
    margin: .6rem 0 1.5rem -1rem;
  }
  
input[type="radio"] {
    width: 2rem;
    height: 2rem;
    border-radius: 15px;
    border: 2px solid var(--purple-color);
    background-color: white;
    -webkit-appearance: none; 
    -moz-appearance: none;
  }
  
input[type="radio"]:checked { 
    background-color: var(--pale-pink-color);
}
    
.radiodiv label span {
    position: relative;
    top: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: var(--main-font);
  }

  
