.single_user_card {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  height: 3.5rem;
}

.single_user_card .avatar {
  margin: 0;
}
.single_user_card span {
  display: flex;
  justify-content: center;
  font-size: 16px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pale-pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
}

.img {
  width: 15px;
}
