.single_user_card {
  display: flex;
  grid-auto-flow: row;
  justify-content: left;
  width: 15rem;
  height: 4rem;
}

.single_user_card .avatar {
  margin: 0;
}
.single_user_card span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pale-pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: white;
}
.avatar_wrapper {
  width: 41px;
  height: 41px;
}

.img {
  width: 15px;
}
.user_btn {
  display: flex;
  justify-content: space-between;
  margin-left: 0.3rem;
}

.avatar_wrapper {
  width: 41px;
  height: 41px;
}
