.single_user_card {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.single_user_card .avatar {
  margin: 0rem;
}

.single_user_card span {
  display: flex;
  /* /* justify-content: center; */
  align-items: center;
  padding: 0;
  width: 9rem;
  margin: 0 auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pale-pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: white;
}

.none {
  border: 2px solid #ff3b1c;
}
.one {
  border: 2px solid #01bb5f;
}
.isActive {
  border: 3px solid var(--purple-color);
}

.name_department {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}
.name_department p {
  margin: 0;
  padding: 0;
}
