.usermain {
  width: calc(100vw - 18vw);
}

.sidebar {
  max-width: 20vw;
}

.sidebar nav {
  background-color: var(--black);
  min-width: 15vw;
  max-width: 18vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: block;
  font-family: var(--main-font);
}

.sidebar nav li {
  list-style-type: none;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  color: white;
}

.notifications {
  position: relative;
}

/* .badge {
  position: absolute;
  top: -21px;
  right: -25px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--pale-pink-color);
  color: white;
  display: flex;
  justify-content: center;
} */

.usernav img {
  width: 100px;
  margin-left: -2rem;
  padding-bottom: 3rem;
}

.usernav a {
  text-decoration: none;
  color: white;
}

.sidebar li a {
  text-decoration: none;
}

.bottomdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 4rem;
  margin-bottom: 2rem;
}

.bottomdiv span {
  color: white;
  padding: 0.5rem;
  font-family: var(--main-font);
  margin: 0 auto;
}

.bottomdiv .logout {
  color: white;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--pale-pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: white;
  margin: 0 auto;
}

.avatar img {
  width: 1.5rem;
}

/********  USER DASHBOARD  ********/

.userdash {
  background: white;
  color: var(--black);
  margin: 7% 7%;
}

.userdash p {
  margin: 2rem 0.2rem;
  color: var(--black);
  font-family: var(--main-font);
}

.userdash h2 {
  color: var(--purple-color);
  font-weight: bold;
  font-family: var(--main-font);
}

.userdash button {
  width: fit-content;
  padding: 0.5rem 4rem;
  border: 2px solid black;
  background-color: transparent;
  font-family: inherit;
  font-weight: bold;
  margin: 2rem 0.2rem;
}

.userdash button:hover {
  background-color: var(--purple-color);
  color: white;
  border: 1.5px solid var(--purple-color);
}

.userlist .avatar {
  margin: 0;
}

.userdash h4 {
  margin: 5rem 0.2rem;
}

.useractions {
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0 0 0.2rem;
  font-size: 1.2rem;
}

.useractions button {
  width: fit-content;
  padding: 0.5rem 3rem;
  font-weight: normal;
}

/******** CHECKBOXES ********/

article {
  position: relative;
  width: 220px;
  height: 70px;
  margin: 0.5rem 0.5rem;
  /* float: left; */
  border: 2px solid var(--purple-color);
  /* box-sizing: border-box; */
  font-family: var(--main-font);
}

article img {
  width: 50px;
  border-radius: 50%;
}

article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.3;
  transition: 0.5s ease;
  padding: 0.5rem;
}

article span {
  padding: 0.6rem;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
}

.userlist {
  display: flex;
}

.userlist input[type="checkbox"]:checked ~ div {
  background-color: var(--purple-color);
  color: white;
}

.users {
  margin-top: 5rem;
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

table {
  margin: 3rem 0 0 0;
  border-collapse: collapse;
  width: 40vw;
}

td {
  padding: 1rem;
  font-family: var(--main-font);
}

tr:nth-child(odd) {
  background-color: var(--light-grey-color);
}
