.sidebar nav {
    background-color: var(--black);
    min-width: 18vw;
    max-width: 18vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: block;
    font-family: var(--main-font);
}

main {
  width: calc(100vw - 18vw);
}

.sidebar nav li {
  list-style-type: none;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
  color: white;
}

nav img {
  width: 100px;
  margin-left: -2rem;
  padding-bottom: 3rem;
}

.sidebar li a {
  text-decoration: none;
}

.bottom-div span {
  color: white;
  margin: 0 auto;
  font-family: var(--main-font);
}

.bottom-div p {
  color: white;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--pale-pink-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--main-font);
  font-size: 2rem;
  color: white;
  margin: 0 auto;
}



/********  USER DASHBOARD  ********/



.userdash-wrapper {
  background: white;
  color: var(--black);
  margin: 5% 30%;
}

.userdash-wrapper h2, h3,
p {
  margin: 1rem;
  font-family: var(--main-font);
}

.userdash-wrapper h2 {
  color: var(--purple-color);
  font-weight: bold;
}

.userdash-wrapper button {
  margin: 1.2rem;
  padding: 0.7rem 4.2rem 0.7rem 4.2rem;
  font-size: 1rem;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  background-color: var(--purple-color);
  color: rgb(0, 0, 0);
  position: relative;
  letter-spacing: 1px;
  font-family: var(--main-font);
}

.userdash-wrapper button::before {
  content: "SUBMIT";
  position: absolute;
  top: -6%;
  right: 1%;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  transform: translate(-1px, -1px);
  font-weight: bold;
}

.userdash-wrapper button:hover::before {
  top: 0;
  left: 0;
}

.userdash-wrapper button {
  margin-top: 2.5rem;
}

.userdash-wrapper button::before {
  content: "SUBMIT";
}

.user-list .avatar {
  margin: 0;
}

.userdash-wrapper h4 {
  margin: 5rem 0 0 1rem;
}

.userdash-wrapper .user-actions {
  display: flex;
  justify-content: flex-start;
  margin: 3rem 0 0 .2rem;
  font-size: 1.2rem;
}


/******** CHECKBOXES ********/

article {
  position: relative;
  width: 220px;
  height: 70px;
  margin: 0.5rem;
  float: left;
  border: 2px solid var(--purple-color);
  box-sizing: border-box;
  font-family: var(--main-font);
}

article img {
  width: 50px;
  border-radius: 50%;
}

article div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.3;
  transition: 0.5s ease;
}

article input {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 100px;
  opacity: 0;
  cursor: pointer;
}

.user-list input[type="checkbox"]:checked ~ div {
  background-color: var(--purple-color);
  color: white;
}

.users {
  margin-top: 5rem;
  width: 70vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
