.confirmation_wrapper {
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.selected_reviewers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
  width: 60vw;
  border: solid 2px silver;
  border-radius: 5px;
  height: 100vh;
}

.all_users_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(228, 228, 228);
  border: solid 2px silver;
  border-radius: 5px;
  margin: 0 auto;
}

.all_users_list input {
  margin: 3px;
  border: 0px solid;
}
