.dashwrapper {
  /* padding: 1rem;
  margin: 2rem; */
}

.btnDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
}

.btnDiv button {
  width: 200px;
  height: fit-content;
}

/* .btn {
  width: 320px;
  padding: 0.5rem;
  border: 2px solid black;
  background-color: white;
  font-family: inherit;
  font-weight: bold;
  margin-top: 1.8rem;
  border-radius: 2px;
  margin: 0.5rem;
}

.btn:hover {
  background-color: var(--purple-color);
  color: white;
  border: 1.5px solid var(--purple-color);
} */
