.single_form {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: var(--purple-color);
  font-family: var(--main-font);
}

.symbols {
  display: flex;
  gap: 2rem;
}

.question_input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 60vw;
  font-family: var(--main-font);
  font-size: medium;
  word-wrap: break-word;
}

.add_btn {
  border-radius: 50%;
  border: none;
  background-color: var(--pale-pink-color);
  height: 1.5rem;
  width: 1.5rem;
}

.select_btn {
  display: flex;
  gap: 1rem;
}
