.confirmation_wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.selected_reviewers {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey-color);
  width: 55vw;
  border-radius: 0.5rem;
  height: 100vh;
  margin-right: 3rem;
}

.btnsdiv button {
  /* display: block; */
  width: 230px;
}

.btnsdiv {
  display: flex;
  margin-top: -1rem;
  margin-bottom: 5rem;
}
