* {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: normal;
  src: url(../src/assets/font/GelionRegular.woff) format("woff");
}

@font-face {
  font-family: "Gelion Bold";
  font-style: normal;
  font-weight: normal;
  src: url(../src/assets/font/GelionBold.woff) format("woff");
}

:root {
  --purple-color: #6712be;
  --dark-grey-color: #212121;
  --pale-pink-color: #f78da7;
  --black: rgb(8, 8, 8);
  --main-font: "Gelion Regular", sans-serif;
  --bold-font: "Gelion Bold", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--main-font);
}
